/* I used wrapper here to refer to the behavior of the entire main*/
main .wrapper{
  flex-wrap: wrap;
}

/* Mobiity first styling in order of appearance*/
.logo {
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  color:whitesmoke;
  text-align: center;
  margin:0;
  padding: 0;
}

header nav{
  display: flex;
  justify-content: center; 
  margin: 0 10px 0;
}

header nav ul{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0 10px 0;
}

header nav ul li{
  list-style-type: none;
}

header nav ul li a{
  color: whitesmoke;
  text-decoration: none;
  padding: 0 20px 0;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  display: flex;
}

/*photo styles*/
.photo {
display: flex;
margin-left: auto;
margin-right: auto;
width: 50%;
margin-top: auto;
}

/*more styling*/
body { 
  font-family: 'Times New Roman', Times, serif;
}

header {
	height: 100px;
  background-color: darkgoldenrod;
}

header h2 {
	font-family: 'Times New Roman', Times, serif;
	color: whitesmoke;
	font-size: 20px;
	text-align: center;
}

header h2 ul{
  list-style-type: none;
}

/*form*/
form {
  padding: 8px;
}

form label{
  display: block;
}

form input,
form textarea {
  width: 100%;
  margin: 10px;
}

form textarea{
  height: 100px;
}

/* even more styles*/
footer {
	background-color:darkgoldenrod;
}

section {
	padding: 0 25%;
  margin: 80px 0;
}

h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
	color:black;
  text-align: center;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Times New Roman', Times, serif;
 margin-bottom: 0;
}

a:link { color: brown;}
a:visited {color: green;}
a:hover { color: red ;}
a:active { color: blue; }
a:hover {
	text-decoration: underline;	
}

footer p {
	color:whitesmoke;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

@media all and (min-width:600px){
  .logo{
    font-size: 65px;
  }
  .group{
    margin: 8px 8px 8px;
    flex-direction: row;
  }
}